.code-box-demo {
  text-align: center;
}
.ant-col-24 {
  display: contents;
  flex: 0 0 100%;
  max-width: 100%;
}
.ant-layout-header {
  color: #fff;
  background: #ececec;
  height: auto;
}

.ant-layout-footer {
  color: #fff;
  background: #ffffff;
}
[data-theme='dark'] .ant-layout-header {
  background: #1f1f1f;
}
[data-theme='dark'] .ant-layout-footer {
  background: #1f1f1f;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #ffffff;
}
[data-theme='dark'] .ant-layout-sider {
  background: #1f1f1f;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background: #ececec;
}
[data-theme='dark'] .ant-layout-content {
  background: #2c2c2c;
}
> .code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}
